# Data Sicence Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. TensorFlow

**Objectives**
- Create a Jupyter Notebook

- Insert code and markdown cells

- Share your notebook through GitHub

| Data Science Tools |
|-------------------|
|Jupyter Notebook|
|RSTudio|
|Google colab|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
#This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Caro Chan